<a href="https://colab.research.google.com/github/SalmenzarZV/ProyectoPIA/blob/main/Resumen_Curso_Pyhton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducción

Python es un lenguaje de programación:

* **De alto nivel**
* **De propósito general**
* **Interpretado**

Una de las características mas conocidas de Pyhton es la **simplicidad** de su sintáxis comparada con algunos de sus hermanos, haciendo que la **curva de aprendizaje** para aprender este lenguaje **no sea muy dura** y haciendo a este lenguaje un **buen punto de patida para aprender a programar.**

Esto ha favorecido su adopción masivamente por perfiles que no están directamente relacionados con el sector de la informática como puede ser la física o las matemáticas en campos como la ciencia de datos, procesamiento de imágenes,  sistemas operativos e inteligencia artificial.

Actualmente Python va por su Version 3, como primera interacción con este lenguaje de programación, aquí debajo dejo el código para ejecutar el famoso "Hello World" en python

In [ ]:
print("Hello World!")

Hello World!

# Tipos de Variables


**1. Numeros**

- Enteros
```
num = 1 # Declaración de un numero entero
```

- Decimales en coma flotante (Floats)
```
num = 1.298374 # Declaración de un numero en coma flotante
```
- Numeros Complejos:
```
# Declaración de un número en coma flotante
```

**2. Booleanos**

  Un tipo booleano solo puede contener dos valores:
  - True
  - False

Los booleanos se usan para determinar la lógica de una expresión.

**3. Cadenas (String)**

Podríamos definir  cadena o string como una **lista de caracteres**, como aún no hemos visto las listas, lo dejaremos estar por el momento.
```
my_str = "Esto es una cadena" # Definición de una cadena
my_str = 'Esto es una cadena' # También se puede definir con comillas simples
```

Aquí unos cuantos métodos que podemos usar con las cadenas

***Longitud una cadena***

In [ ]:
print(len("Longitud de mi cadena"))

21

***Acceder a un caracter de una cadena***

In [ ]:
my_str = "sample text"

#Imprimir el primer caracter (recordar que el primer índice es 0)
print(my_str[0]) 

#Acceder al primer caracter sin saber la longitud de la cadena
print(my_str[len(my_str) - 1])

s
t

**¡OJO!** 

Es posible acceder a un determinado caracer **desde el final**, sabiendo que el último índice es *-1*, podemos recorrer la cadena **desde el final hasta el principio**

In [ ]:
# Accediendo al último elemento de la cadena
print(my_str[-1])

# Accediento al primer elemento de la cadena (my_str[0])
print(my_str[-11])

t
s

No es posible modificar un caracter en concreto de una cadena
```
my_str[0] = 'A' # ERROR
```
También sería importante conocer que en versiones  anteriores de python los caracteres solo soportavan ASCII, en la versión actual soporta Unicode.

**4.   El tipo None**
Este solo soporta el valor "None", hay que tener varias consideraciones con este tipo:

*   "None" **NO** es un valor por defecto
*   "None" != False
*   "None" **NO** es una cadena vacía
*   "None" != 0

In [ ]:
val = None
print(val) # Imprime "None" y devuelve None
print (type(val))

None
<class 'NoneType'>

# Trabajando con Cadenas

***Slicing*** **de una cadena**

Sacar una porción de la cadena es sacar un **conjunto de caracteres** o sub cadena a partir de un **índice** de inicio **(inclusivo)** y un índice de fin **(exclusivo).**

In [ ]:
print(my_str[2:8]) # Desde el caracter con indice 2 al  7
print(my_str[1:10:2]) # Desde el caracter con indice 1 al 9 con salto de 2
print(my_str[3:]) # Desde el indice 3 hasta el final
print(my_str[:9]) # Desde el indice 0 hasta el 9
print(my_str[::2]) # Toda la cadena con saltos de 2
print(my_str[:-1]) # Podemos usar indices negativos

mple t
apetx
ple text
sample te
sml et
sample tex

**Formateo de Cadenas**

Sustuir valores dentro de una cadena

In [ ]:
# Distintos tipos de inserción de cadenas
string1 = "I like %s" % "Python"
print(string1)

temp = "Educative"
string2 = "I like %s" % temp
print(string2)

string3 = "I like %s and %s" % ("Python", temp)
print(string3)

I like Python
I like Educative
I like Python and Educative

No solo podemos sustituir por cadenas, también podemos sustituir por **otros tipos de datos.**

In [ ]:
# Inserción de enteros
string1 = "%i + %i = %i" % (1,2,3)
print(string1)

# Inserción de Floats
string1 = "%f" % (1.11) #  Todos los decimales
print(string1)

string2 = "%.2f" % (1.11) #  Los 2 primeros decimales
print(string2)

string3 = "%.2f" % (1.117) # Aquí vemos como python redondea automáticamente
print(string3)

1 + 2 = 3
1.110000
1.11
1.12

# Operadores

Se usan para mejorar las operaciones lógicas y aritméticas. Existen 4 tipos de operadores en python:
  - Operadores Aritméticos:
    - Paréntesis `()`

      se usa para encapsular una operación
    - Exponente `**`
    - Producto `*`
    - División `/`
    - División a la baja `//`
      
      Se usa para dividir truncando los decimales
    - Suma `+`
    - Resta `-`
    - Módulo `%`
      
      Es el resto de la división
  
  - Operadores de Comparación:

  El resultado de estas comparaciones siempre va a ser un booleano
    - Mayor que `>`
    - Menor que `<`
    - Igual o mayor que `>=`
    - Igual o menor que `<=`
    - Igual a (valores) `==`
    - Desigual a (valores) `!=`
    - Igual a (identidad) `is`
    - desigual a (identidad) `is not`
  
  - Operadores Lógicos:

  El resultado de estos operadores también es un booleano
    - Operador "Y" `and`
    - Operador "O" `or`
    - Operador de negación `not`
   
  - Operadores a nivel de bit:

  Nos permiten realizar operaciones relacionadas con los bits
    - Operador "Y" `&`
    - Operador "O" `|`
    - Operador "O exclusivo" (XOR) `^`
    - Operador de negación `~`
    - Intercambio de bits a la izquierda `<<`
    - Intercambio de bits a la derecha `>>`

  - Operadores de Asignación: 

  Se usa para asignar valores
    - Asigar `=`
    - Sumar y asignar `+=`
    - Restar y asignar `-=`
    - Multiplicar y asignar `*=`
    - Dividir y asignar `/=`
    - Dividir a la baja y asignar `//=`
    - Elevar a una potencia y asignar `**=`
    - Sacar el módulo y asignar `%=`
    - "OR" y asignar `|=`
    - "AND" y asignar `&=`
    - "XOR" y asignar `^=`
    - Intercambio de bits por la derecha y asignar `>>=`  
    - Intercambio de bits por la izquierda y asignar `<<=`

# Operaciones con Cadenas

- Comparar cadenas

  Cada **carácter** de una cadena **tiene su propio valor en Unicode**, lo que nos permite compararlas entre ellas.

  Aquí unos pocos ejemplos:

In [ ]:
print('a' < 'b')  # 'a' posee un valor en Unicode menor

house = "Gryffindor"
house_copy = "Gryffindor"
house_lower_case = "gryffindor"

print(house == house_copy) # Devuelve True porque tienen el mismo valor

# OJO! aqui devuelve falso porque mayúsculas y minúscusculas no tienen el mismo
# valor unicode. La comparación de cadenas es sensible a las mayúsculas.
print(house == house_lower_case) 

new_house = "Slytherin"

print(house == new_house) # Devuelva falso porque no tienen el mismo valor

# Devuelve falso porque va delante alfabéticamente (recordamos que realmente lo
# que hace es comparar los caracteres unicode).
print(new_house <= house)

print(new_house >= house) # Devuelve verdadero

True
True
False
False
False
True

- Concatenar Cadenas

  - `+` -> Permite unir dos cadenas
  - `*` -> Permite repetir una cadena

In [ ]:
first_half = "Bat"
second_half = "man"

full_name = first_half + second_half
print(full_name) # Devuelve 'Batman'

print('ha' * 3) # Devuelve 'hahaha'

Batman
hahaha

- Búsqueda en una cadena 

  La búsqueda nos permite si una **cadena** o un carácter está **contenida** en otra cadena:

In [ ]:
random_string = "This is a random string"

# Devuelve falso porque 'of' no está contenido dentro de la cadena comparada
print('of' in random_string)
print('random' in random_string)  # Devuelve Verdadero

False
True

# Listas

Muchas veces tendremos al necesidad de **almacenar varios datos juntos**. Existen muchas formas de almacenar estos datos, pero la más popular es la ya mencionada anteriormente **lista**. En ella podemos guardar el tipo de dato que queramos, o incluso **varios tipos de datos** dentro de la misma lista, aunque **no es lo más recomendable.**

In [ ]:
# Creación de una lista
my_list = [1, 2.5, "A string", True] 
print(my_list[2]) # OJO! la primera posición de la lista es my_list[0]
print(len(my_list)) # Imprime la cantidad de elementos que posee la lista

# Declaraciones condicionales

Son básicamente una **expresión que devuelve un booleano** y, en función del valor devuelto **ejecuta un extracto de código o no**.

En Python hay varias maneras de manejarlo:

In [ ]:
a = 1
b = 2

if a > b is True : # if a > b: es lo mismo 
    # código
    pass # "pass" es necesario solo si no metes nada en el bloque de código
else: # Si es falso, se ejecita este bloque de código. Opcional
    # código
    pass

# Otras Declaraciones condicionales

if a > 5:
  # código
  pass
# (else, if). Si la anterior no es verdadera, hacemos otra condicional
elif a < 0: # Podemos concatenar todos los elif que queramos 
  # código
  pass
else:
  # código
  pass

También puedes indicar en estas condicionales que se tienen que cumplir **varias condiciones** (operador lógico "and") o una **única condición**(operador lógico "or"):

In [ ]:
# Ejemplo con el operador "and"
num = 5
if (num <= 5 and num > 0):
  print("se cumple la condición")

#Aquí vemos que tinen que cumplirse ambas condiciones
num = 10
if (num < 30 and num < 9 ):
  print("se cumple la condición")
else:
  print("no se cumple la condición")

se cumple la condición
no se cumple la condición

In [ ]:
# Ejemplo con el operador "or"

num = 1
if(num == 1 or num == 0):
  print('se cumple la condición')

# Solo se tiene que cumplir una, pero si no se cumple ninguna es falso

if(num == 2 or num == 3):
  print("se cumple la condición")
else:
  print("no se cumple la condición")

se cumple la condición
no se cumple la condición

También podemos **encadenar varios "if"**, aunque no es una buena práctica de programación.

In [ ]:
num = 63

if num >= 0 and num <= 100:
  if num >= 50 and num <= 75:
    if num >= 60 and num <= 70:
      print("El número está entre 60 y 70")

El número está entre 60 y 70

También existe la posibilidad de **declarar una variable en función de una condición** usando "if", esto se conoce en otros lenguajes de programación como **operador ternario**, podemos declararlo de la siguiente manera:

In [ ]:
num = 60
#         Valor si la condición se cumple         |   Condición     | Valor si la condición no se cumple
output = "The number is less than or equal to 50" if num <= 50 else "The number is greater than 50"
print(output) # devuelve la segunda condición

# TIP: usando "\" podemos continuar una línea de código en la línea de abajo 
new_output = ">50" if num >= 50 \
  else "<50"
print(new_output) # Devuelve la primera condición

The number is greater than 50
>50

# Funciones

Una función es un **set de operaciones** que podemos **reutilizar** simplemente llamando a dicha función. Esto también deriva en un **código mas simple** y limpio. Existen algunas funciones que vienen **creadas por defecto** en el lenguaje de programación, estos son algunos ejemplos:

- `print(something)`: Ya la hemos usado, sirve para imprimir por pantalla lo que sea que le enviemos a la función.
- `len(argument)`: Nos devuelve la longitud de una cadena, una lista u otras estructuras de datos. 
- `min(arg1, arg2 ... , arg_n)`: Nos dice el menor valor de los argumentos pasados.
- `max(arg1, arg2 ... , arg_n)`: Nos dice el valor más alto de los argumentos pasados.
- `type(argument)`: nos dice el tipo (int, bool...) del argumento pasado

También es posible crear nuestras propias funciones para poder reutilizar un bloque de código que hayamos creado:

In [ ]:
# En este ejemplo vamos a crear una función que sume dos numeros
# Con la palabra reservada def indicamos que vamos a crear una función
# nombre funcion | Argumentos de la función
def my_function(arg1, arg2):
  return arg1 + arg2 # Indicamos que la función devuelve el valor indicado

print(my_function(5, 2))

# Puedes no devolver nada en un función
def print_something(something):
  print(something)

# Aquí vemos como se reutiliza el código
print_something("sample text")
print_something("other sample text")

# También podemos pasar valores por defecto al parámetro de una función
# Los parámetros por defecto tienen que ir siempre detrás de los que no lo son
def favourite_food(name, food = "Lasagna"):
  print("My name is " + name + ", My favourite food is " + food)

favourite_food('Sergio', 'Ice Cream')
# Si no le pasamos el segundo parámetro, usará el indicado en los argumentos
favourite_food('Manuel')

7
sample text
other sample text
My name is Sergio, My favourite food is Ice Cream
My name is Manuel, My favourite food is Lasagna

Hay que tener en cuenta que si **modificamos** una variable declarada fuera de una función dentro de esta, su valor **solo se modificara dentro de la función.** Esto **no ocurre así con las listas**, si modificamos el contenido de una lista dentro de una función, el contenido no se mantendrá como originalmente una vez ejecutemos la función.

In [ ]:
# Intentando modificar el valor con un entero
num = 10
def multiply(n):
  n *= 10
  num = n
  print(num)

multiply(num)
print(num) # Comprobamos que el valor no ha sido afectado fuera de la función

#Intentando modificar una lista
num_list = [0, 1, 2 ,3]
print(num_list)
def reassign_list(my_list):
  my_list[0] = 100
  my_list[1] = 100
  my_list[2] = 100
  my_list[3] = 100

reassign_list(num_list)
print(num_list) # Comprobamos que la lista ha sido modificada

100
10
[0, 1, 2, 3]
[100, 100, 100, 100]

# Funciones con Cadenas

Hay un buen número de funciones con Cadenas que vienen de base con el lenguaje de programación. Aquí explicamos algunas de las más utilizadas:

- `find()` : Devuelve el primer índice en el que se encuentra una subcadena dada. Si no se encuentra la subcadena, devuelve **"-1"**

In [ ]:
random_string = "Esto es una cadena"
# random_string(substring, start, end)
# substring: subcadena que queeremos buscar en random_string
# start: inicio de donde queremos buscar la subcadena dentro de random_string
# end: último índice en el que queremos buscar la subcadena.

print(random_string.find("is"))  # First instance of 'is' occurs at index 2
print(random_string.find("is", 9, 13))  # No instance of 'is' in this range

- `replace()` : Se usa para reemplazar una parte de una cadena por otra cadena. La cadena original no se verá afectada, se generará una nueva cadena.

In [ ]:
a_string = "Welcome to Educative!"

# El primer argumento es lo que reemplazar en la cadena
# El segundo es la cadena por la que queremos reemplazar.
new_string = a_string.replace("Welcome to", "Greetings from")

#Comprobamos que la cadena original no se ve afectada
print(a_string)
print(new_string) 

other_string = "is is is is"
print(other_string.replace("is", "hi")) # Remplaza todas las coincidencias

Welcome to Educative!
Greetings from Educative!
hi hi hi hi

- `upper()` : Pasa todos los caracteres de la cadena a mayúscula
- `lower()` : Pasa todos los caracteres de la cadena a minúscula

In [ ]:
my_str = "Some Random String"
print(my_str.upper())
print(my_str.lower())
print(my_str) # Nuevamente, el valor orginal no se ve afectado

SOME RANDOM STRING
some random string
Some Random String

- `join()` : Método por el que puedes unir múltiples cadenas con una cadena que las enlazará

In [ ]:
my_list = ['a', 'b', 'c']
print(','.join(my_list))
print(my_list) # La lista original no se ve afectada

# Otros ejemplos
print(''.join(my_list)) # Unimos por una cadena vacía
print(' '.join(my_list)) # Unimos con un espacio

a,b,c
['a', 'b', 'c']
abc
a b c

- `format()` método por el que podemos sustituir un "placeholder" por una cadena dada. Podemos sustituir tantos como queramos

In [ ]:
# cadena.format(placeholder1 = "valor", placeholder1 = "otro valor" ...)

string1 = "Learn Python {version} at {cname}".format(version = 3, cname = "Educative")

# Le indicamos la posición del placeholder por el que queremos sustituir
string2 = "Learn Python {0} at {1}".format(3, "Educative")

# Si no le indicamos nada, los sustituirá conforme le hemos indicado
string3 = "Learn Python {} at {}".format(3, "Educative")

print(string1)
print(string2)
print(string3)

Learn Python 3 at Educative
Learn Python 3 at Educative
Learn Python 3 at Educative

# Conversión de tipos

Muchas veces necesitaremos **modificar el tipo de una variable**, por ejemplo pasar un entero a coma flotante, o una cadena que tiene un numero a entero, para ello contamos con una serie de métodos que convierten una variable de un tipo a otra.

Hay que tener en cuenta que **no todos los tipos son convertibles entre si**, por ejemplo las cadenas solo se pueden convertir a enteros o a coma flotante si todos sus caracteres son numéricos. Los métodos que nos permiten transformar estos tipos son:
- `int()` : Conversión a entero.
- `ord()` : Conversión a valor en Unicode.
- `float()` : Conversión a coma flotante.
- `str()` : Conversión a cadena.
- `bool()` : Conversión a booleano.

# Entrada de parte del Usuario

Hasta hora hemos estado **asignando valor a las variables directamente en el código**, pero es posible que el usuario pueda **introducir los datos directamente desde la consola.** Para ello podemos usar una función especial llamada `input()`.

Aquí mostramos un ejemplo de su uso:

In [ ]:
my_input = input("Write something: ")
print("You writted: " + my_input)

Write something: Sample text
You writted: Sample text

# Funciones Lambda (λ)

Una función lambda es aquella función **anónima** que **devuelve un valor.** Estas funciones son muy útiles cuando una función requiere de una función como argumento.

He aquí varios ejemplos de uso de una función lambda:

In [ ]:
# my_lambda = lambda parametros : expresión (valor que queremos devolver)

my_lambda = lambda num : num % 2
print(my_lambda(15))

# Lambda con varios parametros
other_lambda = lambda a, b, c: a + ' ' + b + ' ' + c
print(other_lambda('Hello', 'my', 'friend'))

1
Hello my friend

# Funciones como argumentos

Una función puede ser pasada como argumento a otra función. aquí algunos ejemplos:

In [ ]:
def multiply(n1, n2):
    return n1 * n2

def operate_number(func, n1, n2):
  return func(n1, n2) #Usamos la función dada

print(operate_number(multiply, 5, 2))

# Usando lambdas (no es necesario encapsular la lambda en los paréntesis)
print(operate_number((lambda n1, n2: n1 + n2), 5, 2))

10
7

Otros ejemplos de uso son las funciones propias de python llamadas `map()` y `filter()`:
- `map()` : Itera cada uno de los elementos de una lista dada y realiza la función que pasamos por argumentos.
- `filter()` : Devuelve un objeto map con los elementos de la lista que cumplan la condición que le indicamos.

In [ ]:
num_list = [0, 1, 2, 3, 4, 5]

#                 funcion        | Lista
double_list = map(lambda n: n * 2, num_list)

print("Double List:", list(double_list)) # Es necesario convertir el objeto map a una lista

# Nuevamente es necesario convertir a una lista
even_numbers = list( filter(lambda n: n%2 == 0, num_list) )

print("Even numbers:", even_numbers)

Double List: [0, 2, 4, 6, 8, 10]
Even numbers: [0, 2, 4]

# Recursividad
La recursión o recursividad es la forma en la cual se especifica **un proceso basado en su propia definición**, en este caso, **una función se llama a sí misma** durante su ejecución. Esta recursión para cuando se llega al llamado **caso base**. 

Esto tiene ciertas ventajas como la **reducción del tiempo de ejecución** de algunos algoritmos, haciendo que el código sea más eficiente, También es muy **util** en problemas de **grafos** o **árboles**.

In [ ]:
# Ejemplo de uso de recursividad

def factorial(num):
  # Caso base (recordamos que 0! = 1)
  if num == 0:
    return 1

  # Esto también es un caso base aunque sirve para evitar fallos en la ejecución
  # Por definición, solo se puede realizar el factorial de un entero positivo.
  if num < 0:
    return -1
  
  #Llamamos a la función dentro de la propia función
  return num * factorial(num-1)

print(factorial(5))

120

# Bucles

Es una **estructura de control** que sirve para **repetir un set de instrucciones** un número de veces. Esto sirve para no escribir el mismo set de instrucciones varias veces. Son ampliamente usados para **recorrer estructuras de datos** como listas o tuplas. 

Existen dos tipos de bucles que podemos usar en pyhton:

- `for` : Usa un iterador que se va actualizando **para atravesar una secuencia** como por ejemplo un rango de números, los elementos de una lista...

In [ ]:
# Estructura de un bucle
# for nombre_iterador in objeto_iterado

# Bucles con rango

# función en la cual indicamos un rango de numeros (inclusivo, exclusivo) y 
# Los saltos que da este
# 
# range(start, end, step)

for i in range(10): # Te saca todos del 1 a n incluido
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Bucles con lista/string
cities = ['Granada', 'Valencia', 'Madrid', 'Barcelona', 'Bilbao', 'Algarinejo']

for i in cities:
  print(i)

Granada
Valencia
Madrid
Barcelona
Bilbao
Algarinejo

- `while` : Este bucle se mantiene iterando **mientras se cumpla una condición indicada.**

In [ ]:
# Estructura de un loop
# while condicion:

num = 0
while num < 10:
  print(num)
  # CUIDADO!  si no actualizamos el valor iteraremos infinitamente
  num += 1

# Creacion básica de bucle infinito
# while True:

0
1
2
3
4
5
6
7
8
9

# Palabras reservadas en bucles

- `break` : **Termina el bucle** independientemente de si ha terminado todas sus iteraciones o no.

- `continue` : Saltamos a **la siguiente iteración** del bucle sin ejecutar el código restante.

- `pass` : Simplemente se usa para indicar que hay una **sección de código que está por implementar**, **funcionalmente no hace nada**

# Estructuras de datos

Una estructura de datos es una manera de **almacenar y organizar datos** de acuerdo a un cierto formato.

Existen 4 tipos de estructuras de datos en Python.


### Listas

Nos permite **almacenar cualquier tipo de dato**. Sus elementos son **accesibles** a través de un **índice**. También es posible almacenar **listas dentro** de un elemento **de una lista**.

In [ ]:
# Creación de una lista
jon_snow = ["Jon Snow", "Winterfell", 30]
print(jon_snow)

# Acceder a un elemento de la lista
print(jon_snow[0])

# hallar la longitud de la lista
print(len(jon_snow))

#Modificar un elemento de la lista
jon_snow[2] += 3
print(jon_snow[2])

# Convirtiendo un rango en una lista
num_seq = list(range(0, 10))
print(num_seq)

# Obtener una sublista de la lista
print(num_seq[2:8])

['Jon Snow', 'Winterfell', 30]
Jon Snow
3
33
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7]

Existe una manera más compleja de declarar y trabajar con listas, las llamadas **compresiones de lista**, que es cuando usamos un **bucle** `for` para **crear una nueva lista a partir de una existente**. Aquí unos ejemplos de como se trabaja con compresiones de listas:

In [ ]:
nums = [10, 20, 30, 40, 50]
nums_double = [n * 2 for n in nums]
print(nums, nums_double)

# Podemos añadir una condición
nums_double = [n * 2 for n in nums if n % 4 == 0]
print(nums_double)

# También es posible usar varias listas para crear una lista
list1 = [30, 50, 110, 40, 15, 75]
list2 = [10, 60, 20, 50]

# Combina todos los indices
sum_list = [(n1, n2) for n1 in list1 for n2 in list2 if n1 + n2 > 100]

print(sum_list)

[10, 20, 30, 40, 50] [20, 40, 60, 80, 100]
[40, 80]
[(50, 60), (110, 10), (110, 60), (110, 20), (110, 50), (75, 60), (75, 50)]

Hay algunos **métodos** ya implementados en Pyhton que nos facilitan la tarea de **trabajar con las listas**. Aquí se muestran algunos de los más usados:

- `extend(my_list)` : Junta la **lista** que le pasamos **dentro de la lista** indicada

In [ ]:
part_A = [1, 2, 3, 4, 5]
part_B = [6, 7, 8, 9, 10]
part_A.extend(part_B)
print(part_A)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- `append(element)` : **añade** un elemento **al final de la lista.**

In [ ]:
num_list = []  # Empty list
num_list.append(1)
num_list.append(2)
num_list.append(3)
print(num_list)

[1, 2, 3]

- `insert(index, element)` : **añade** un elemento en la **posición** que le indiquemos **desplazando el resto de elementos** a la siguiente posición.

In [ ]:
num_list = [1, 2, 3, 5, 6]
num_list.insert(3, 4)
print(num_list)

[1, 2, 3, 4, 5, 6]

- `pop()` :**Elimina** el elemento que esté en la **última posición** de la lista y **lo devuelve.**

In [ ]:
houses = ["Gryffindor", "Hufflepuff", "Ravenclaw", "Slytherin"]
print(houses.pop(), houses)

Slytherin ['Gryffindor', 'Hufflepuff', 'Ravenclaw']

- `remove(element)` : **Elimina** la **primera ocurrencia** que coincida con el elemento que le pasamos. Si el elemento indicado no se encuentra en la lista obtendremos un "*ValueError*"

In [ ]:
houses = ["Gryffindor", "Hufflepuff", "Ravenclaw", "Slytherin", "Ravenclaw"]
houses.remove("Ravenclaw")
print(houses)

['Gryffindor', 'Hufflepuff', 'Slytherin', 'Ravenclaw']

- `index(element)` : Nos devuelve el **índice de la primera ocurrencia** que encuentre con el elemento que le pasamos. Si el elemento no existe dentro de la lista devuelve un "*ValueError*".

In [ ]:
houses = ["Gryffindor", "Hufflepuff", "Ravenclaw", "Slytherin", "Ravenclaw"]
print(houses.index("Ravenclaw"))

2

- `sort()` : **Ordena de menor a mayor** los elementos de la lista.

In [ ]:
num_list = [20, 40, 10, 50.4, 30, 100, 5]
num_list.sort()
print(num_list)

# En el caso de las cadenas, por orden alfabético
houses = ["Gryffindor", "Hufflepuff", "Ravenclaw", "Slytherin", "Ravenclaw"]
houses.sort()
print(houses)

[5, 10, 20, 30, 40, 50.4, 100]
['Gryffindor', 'Hufflepuff', 'Ravenclaw', 'Ravenclaw', 'Slytherin']

- `reverse()` : **Invierte las posiciones** de todos los elementos de la lista.

In [ ]:
houses = ["Gryffindor", "Hufflepuff", "Ravenclaw", "Slytherin", "Ravenclaw"]
houses.reverse()
print(houses)

['Ravenclaw', 'Slytherin', 'Ravenclaw', 'Hufflepuff', 'Gryffindor']

### Tuplas

Una tupla es una lista **cuyos elementos no pueden verse modificados** una vez han sido asignados. Posee métodos muy parecidos a las listas, puedes unirlas, buscar elementos, sacar porciones...

In [ ]:
# Declaración de una tupla
car = ("Ford", "Raptor", 2019, "Red")
print(car)

('Ford', 'Raptor', 2019, 'Red')

### Diccionarios

Es una estructura de datos que almacena los mismos en una **pareja clave-valor**, por lo que, un **valor solo puede ser accedido si indicamos la clave** única asociada a ese valor. El orden en el que estan ordenadas estas parejas es completamente aleatorio.

In [ ]:
# Creación de un diccionario

# empty_dict = dict()
empty_dict = {}
print(empty_dict)

phone_book = {"Batman": 468426,
              "Cersei": 237734,
              "Ghostbusters": 44678}
print(phone_book)

# Accediendo a un elemento del diccionario a través de una de sus claves

# print(phone_book.get("Batman"))
print(phone_book["Batman"])

{}
{'Batman': 468426, 'Cersei': 237734, 'Ghostbusters': 44678}
468426

Para trabajar con diccionarios necesitamos poder **editar, añadir, borrar, saber su longitud...**

Estas son algunas de las operaciones más esenciales que podemos hacer con un diccionario

In [ ]:
# Añadiendo una entrada al diccionario
phone_book["Godzilla"] = 46394
print(phone_book)

# Actualizando una entrada del diccionario
phone_book["Godzilla"] = 9000
print(phone_book)

# Eliminando una entrada del diccionario
del phone_book["Godzilla"]
print(phone_book)

# Longitud de un diccionario
print(len(phone_book))

# Comprobar la exixtencia de una clave
print("Batman" in phone_book)

# Copiando el contenido de un diccionario y añadiendolo a otro
second_phone_book = {"Catwoman": 67423, "Jaime": 237734, "Godzilla": 37623}
phone_book.update(second_phone_book)
print(phone_book)

{'Batman': 468426, 'Cersei': 237734, 'Ghostbusters': 44678, 'Godzilla': 46394}
{'Batman': 468426, 'Cersei': 237734, 'Ghostbusters': 44678, 'Godzilla': 9000}
{'Batman': 468426, 'Cersei': 237734, 'Ghostbusters': 44678}
3
True
{'Batman': 468426, 'Cersei': 237734, 'Ghostbusters': 44678, 'Catwoman': 67423, 'Jaime': 237734, 'Godzilla': 37623}

Al igual que en las listas y las tuplas, también es posible declarar diccionarios mediante compresión.

In [ ]:
houses = {1: "Gryffindor", 2: "Slytherin", 3: "Hufflepuff", 4: "Ravenclaw"}
new_houses = {n**2: house + "!" for (n, house) in houses.items()}
print(houses)
print(new_houses)

{1: 'Gryffindor', 2: 'Slytherin', 3: 'Hufflepuff', 4: 'Ravenclaw'}
{1: 'Gryffindor!', 4: 'Slytherin!', 9: 'Hufflepuff!', 16: 'Ravenclaw!'}

### Sets

Esta es una de las estructuras de datos más simples. es básicamente una **colección de objetos desordenados**. Podemos añadir cualquier tipo de datos dentro de el e incluso podemos añadirle otras estructuras de datos dentro como una tupla. **No admite duplicados.**

In [ ]:
# Creacion de un set
random_set = {"Educative", 1408, 3.142, (True, False)}
other_set = set()
print(random_set, other_set)

{'Educative', (True, False), 3.142, 1408} set()

Hay que tener cuidado con no confundir un set con un diccionario, ya que ambos se declaran con llaves.

In [ ]:
ex1 = {} # Diccionario vacío
ex2 = {"sample text", 1, 2} # Set
ex3 = {"clave": "valor", "clave2": "valor2"} # Diccionario
print(type(ex1))
print(type(ex2))
print(type(ex3))

<class 'dict'>
<class 'set'>
<class 'dict'>

Las **principales operaciones** que podemos hacer con los Sets son:

In [ ]:
empty_set = set()

# Añadir elementos
empty_set.add(1)
print(empty_set)

# Comprobamos que no se puede añadir repetidos
empty_set.add(1)
print(empty_set)

# Añadimos varios elementos a la vez
empty_set.update([2, 3, 4, 5, 6])
print(empty_set)

# Borrar elementos
empty_set.remove(1)
empty_set.discard(7) # Discard no da error si no existe en el set
print(empty_set)

{1}
{1}
{1, 2, 3, 4, 5, 6}
{2, 3, 4, 5, 6}

Existen tres **operaciones especiales** que podemos realizar entre sets. Estas tienen semejanza con sus hermanas de la rama de matemáticas. Estas operaciones son:

- `Unión (|)` : **Une** los elementos de **ambos sets** eliminando los repetidos.

In [ ]:
set_A = {1, 2, 3, 4}
set_B = {'a', 'b', 'c', 'd'}

print(set_A | set_B)

# Otras formas de hacer la unión
print(set_A.union(set_B))
print(set_B.union(set_A))

{1, 2, 3, 4, 'b', 'd', 'a', 'c'}
{1, 2, 3, 4, 'b', 'd', 'a', 'c'}
{1, 2, 3, 4, 'b', 'd', 'a', 'c'}

- `Intersección (&)` : Crea un set con los **elementos** que esten en **ambos sets.**

In [ ]:
set_A = {1, 2, 3, 4}
set_B = {2, 8, 4, 16}

print(set_A & set_B)

# Otras formas de hacer la intersección
print(set_A.intersection(set_B))
print(set_B.intersection(set_A))

{2, 4}
{2, 4}
{2, 4}

- `Diferencia (-)` : Saca los elementos que **solo esten en el set al que le queremos restar** otro set.

In [ ]:
set_A = {1, 2, 3, 4}
set_B = {2, 8, 4, 16}

# A - B
print(set_A - set_B)
print(set_A.difference(set_B)) # Método alternativo

# B - A
print(set_B - set_A)
print(set_B.difference(set_A)) # Método alternativo

{1, 3}
{1, 3}
{8, 16}
{8, 16}

# Conversiones entre estructuras de datos

En Pyhton es posible **transformar una estructura de datos en otra** que nos sea más conveniente. La única excepción en la que nos podemos encontrar con dificultades para transformar estructuras de datos es con los diccionarios, por lo que los explicaremos algo más aparte.

Podemos cambiar la estructura de metiendo como argumento la estructura de origen en el **método constructo** de la estructura de fin:

- Lista:  `list()`
- Tupla: `tuple()`
- Set: `set()`

In [ ]:
ex1 = {"sample", 1, 23} # Creamos un set

# Conversión a lista
ex1 = list(ex1)
print(ex1)

# Conversión a tupla
ex1 = tuple(ex1)
print(ex1)

# Conversión a Set
ex1 = set(ex1)
print(ex1)

[1, 'sample', 23]
(1, 'sample', 23)
{1, 'sample', 23}

En el caso especial de un **diccionario**, cuando queramos **convertir un diccionario en otra estructura de datos**, si usamos el constructor **sin indicarle nada,** nos sacará las **claves** por defecto. Existen formas de sacar las claves, los valores o ambas y transformar el diccionario en otra estructura de datos:

In [ ]:
phone_book = {
  "Batman": 468426,
  "Cersei": 237734,
  "Ghostbusters": 44678
}
# Convertir solo las claves a una lista, tupla o set
my_list = list(phone_book)
my_set = set(phone_book.keys())
print(my_list, my_set)

# Convertir solo los valores a una lista, tupla o set
my_list = list(phone_book.values())
print(my_list)

# Convertir claves y valores a una lista, tupla o set
my_set = set(phone_book.items())
print(my_set) # Podemos comprobar que cada elemento clave-valor es una tupla

['Batman', 'Cersei', 'Ghostbusters'] {'Cersei', 'Ghostbusters', 'Batman'}
[468426, 237734, 44678]
{('Cersei', 237734), ('Ghostbusters', 44678), ('Batman', 468426)}

También es posible hacer el proceso inverso, **transformar una estructura de datos a un diccionario**, para ello **cada índice de esa estructura de datos debe de ser una lista de dos elementos con la clave y el valor**.

In [ ]:
star_wars_list = [[1,"Anakin"], [2,"Darth Vader"], [3, 1000]]
star_wars_tup = ((1, "Anakin"), (2, "Darth Vader"), (3, 1000))
star_wars_set = {(1, "Anakin"), (2, "Darth Vader"), (3, 1000)}

star_wars_dict = dict(star_wars_list) # Conversión desde lista
print(star_wars_dict)

star_wars_dict = dict(star_wars_tup) # Conversión desde tupla
print(star_wars_dict)

star_wars_dict = dict(star_wars_set) # Conversión set
print(star_wars_dict)

{1: 'Anakin', 2: 'Darth Vader', 3: 1000}
{1: 'Anakin', 2: 'Darth Vader', 3: 1000}
{3: 1000, 1: 'Anakin', 2: 'Darth Vader'}

# Librerías

Una librería es un **conjunto de implementaciones funcionales** (módulos), las cuales contienen una serie de funciones que nos pueden ser de utilidad.

Por defecto, Python incluye una serie de librerías, lo que se conoce como PSL (Python Standard Library).

Para poder **implementar un módulo** en python, simplemete tenemos que usar la palabra reservada `import` :
```
import module_name

```

Si no queremos tener que estar escribiendo todo el rato el nombre del modulo, podemos **asignarle un alias** más corto:

```
import module_name as alias_name

```

también es posible **implementar una clase en particular** de ese módulo para no tener que implementar el módulo entero:

```
from module_name import class_name

```

Algunos módulos populares del PSL son:

- `math` : Implementa un amplio rango de funciones matemáticas como el factorial, operaciones trigonométricas...

- `heapq`: Implementa la estructura de datos *heap*, que es un árbol binario que siempre almacena un valor especial en su raíz. 

- `random` : Es la librería usada para la generación de números aleatorios.

Como bien hemos mencionado antes, Python viene con un gran número de módulos ya implementados, pero también **podemos descargar nuevos paquetes de internet** para agregarlos a nuestra librería. Estos paquetes pueden ser encontrados en **PyPI** (Pyhton Package Index) y son de lo más variados. Algunos de los paquetes más utilizados son numPy, Matplotlib, Scrapy, Request, pyGame, Django... y un montón más que podemos descargar para múltiples propósitos como creación de redes neuronales, procesamiento de texto, criptografía...


# Conclusiones finales

Esta documentación va a resultar muy útil para consultar ciertas dudas que nos puedan surgir a lo largo de nuestro aprendizaje de Pyhton, muchas de ellas de tanto consultarlas nos las acabaremos aprendiendo de memoria. Esta es solo una documentación básica, una vez se nos abre el mundo de los paquetes externos de Pyhton las posibilidades son infinitas, por lo que si tienes alguna duda relacionada con un módulo, lo mejor es que busques la documentación oficial de ese módulo.

Muchas gracias por llegar hasta el final y adios mundo!